<div *ngIf="isConversation(instruction.conversation)">
  <div class="centered-card">
    <div *ngIf="instruction.conversation.inputType === 'text'">
      <div class="content">{{ instruction.conversation.content }}</div>
      <form #textInputForm="ngForm" (ngSubmit)="submitForm(textInputForm)">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            name="textInput"
            placeholder="Type your response..."
            [(ngModel)]="textInput"
            required>
        </div>
        <button
          type="submit"
          class="btn btn-primary button-container"
          [disabled]="textInputForm.invalid">
          Submit
        </button>
      </form>
    </div>
    <div *ngIf="instruction.conversation.inputType === 'radio'">
      <p class="content">{{ instruction.conversation.content }}</p>
      <form #radioForm="ngForm" (ngSubmit)="submitForm(radioForm)">
        <div class="form-group button-group">
          <button
            *ngFor="let option of instruction.conversation.options"
            type="button"
            class="btn option-button"
            [ngClass]="{'btn-warning': selectedOption === option, 'btn-secondary': selectedOption !== option, 'btn-success': correctAnswer && selectedOption === option}"
            (click)="selectOption(option)">
            {{ option }}
          </button>
        </div>
        <div *ngIf="correctAnswer" class="alert alert-success">
          Congrats!
          <button (click)="getNextChat()" class="btn btn-primary button-container">Next</button>
        </div>
        <div *ngIf="showTryAgainDiv" class="alert alert-danger">
          Try Again!
        </div>
        <div *ngIf="showCorrectAnswer" class="alert alert-info">
          <p>Correct answer: {{instruction.conversation.correctAnswer}}</p>
          <button (click)="getNextChat()" class="btn btn-primary button-container">Next</button>
        </div>
        <button [disabled]="!selectedOption || correctAnswer" class="btn btn-primary button-container" type="submit">Submit</button>
      </form>
    </div>
    <div *ngIf="instruction.conversation.inputType === ''">
      <p class="content">{{ instruction.conversation.content }}</p>
      <button class="btn btn-primary button-container" (click)="nextIns()">Next</button>
    </div>
  </div>
</div>
