<div class="centered-card">
  <div class="card">
    <div *ngIf="!notToggleStart" class="card-header">
      <div class="header-content">
        <h2 class="heading">Welcome to Peer Mediation Role-Play Activity!</h2>
        <div class="button-container-ins">
          <div class="counters" *ngIf="startChatWindow">
            <span class="counter-button">Correct: {{ correctCount }}</span>
            <span class="counter-button">Wrong: {{ wrongCount }}</span>
          </div>
          <button *ngIf="!toggleSection" (click)="toggleInstructions()" class="btn btn-light btn-sm instruction-button">Show Instructions</button>
          <button *ngIf="toggleSection" (click)="toggleInstructions()" class="btn btn-light btn-sm instruction-button">Collapse Instructions</button>
        </div>
        <div *ngIf="toggleSection">
          Jacob and Caleb used to be friends before Caleb started playing with Ruby, who has always been mean to Jacob. Ever since then, Jacob has started talking about Caleb whenever Caleb walks by in the hallways. At first, Caleb ignores the comments, but a few days ago, he has had enough. Caleb confronts Jacob during lunch, which leads them to fight in the middle of the cafeteria. They're stopped shortly after and are sent to peer mediation the next morning.
        </div>
      </div>
    </div>
    <div class="card-body">
      <div *ngIf="notToggleStart">
        <div *ngIf="instructionPresent">
          <h2 class="heading">Welcome to Peer Mediation Role-Play Activity!</h2>
          <div class="button-container">
            <button (click)="clickInstruction()" class="btn btn-primary">Instructions</button>
          </div>
        </div>

        <div *ngIf="!instructionPresent">
          Jacob and Caleb used to be friends before Caleb started playing with Ruby, who has always been mean to Jacob. Ever since then, Jacob has started talking about Caleb whenever Caleb walks by in the hallways. At first, Caleb ignores the comments, but a few days ago, he has had enough. Caleb confronts Jacob during lunch, which leads them to fight in the middle of the cafeteria. They're stopped shortly after and are sent to peer mediation the next morning.
          <div class="button-container">
            <button (click)="clickInstructionNext()" class="btn btn-primary">Next</button>
          </div>
        </div>
      </div>

      <div *ngIf="showChat && !startChatWindow" class="app-container button-container chat-area">
        <button (click)="startChat()" class="btn btn-primary">Start Mediation</button>
      </div>
      <div *ngIf="startChatWindow" class="chat-card-container">
        <app-chat-card *ngIf="showChat"></app-chat-card>
      </div>
    </div>
  </div>
</div>

