html, body {
  height: 100%; /* Ensure the body takes the full height of the viewport */
  margin: 0;
  overflow: auto; /* Allow scrolling */
}

.centered-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: 100vh; /* Ensure it takes at least the full height of the viewport */
  box-sizing: border-box; /* Ensure padding is included in the height calculation */
}

.card {
  width: 800px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.card-header {
  flex-shrink: 0;
}

.card-body {
  padding: 20px;
}

.card-body p {
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button-container-ins {
  display: flex;
  justify-content: flex-end;
}

.instruction-button {
  border: 1px solid #ccc;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-card-container {
  width: 100%;
}

app-chat-card {
  display: block;
  width: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}
