html, body {
  height: 100%; /* Ensure the body takes the full height of the viewport */
  margin: 0;
  overflow: auto; /* Allow scrolling */
}

.centered-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: 100vh; /* Ensure it takes at least the full height of the viewport */
  box-sizing: border-box; /* Ensure padding is included in the height calculation */
}

.card {
  width: 800px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.card-header {
  flex-shrink: 0;
}

.card-body {
  padding: 20px;
}

.card-body p {
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button-container-ins {
  display: flex;
  justify-content: flex-end;
}

.instruction-button {
  border: 1px solid #ccc;
}

.counters {
  flex-grow: 1;
  text-align: left;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-card-container {
  width: 100%;
}

.counters {
  flex-grow: 1;
  display: flex;
  gap: 10px;
}

.counter-button {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #f0f0f0;
  display: inline-block;
  font-size: 14px;
  color: #333;
}

app-chat-card {
  display: block;
  width: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}

.correct-counter {
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  color: #155724;
  border-radius: 5px;
  padding: 5px 10px;
}

.wrong-counter {
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  color: #721c24;
  border-radius: 5px;
  padding: 5px 10px;
}

